---
layout: default
title: Contribute
description: Intersted in seeing your work featured on our servers?
navigation: 4
permalink: /contribute/
types:
    - name: Developer
      image: developer.png
      description: All our code is stored on Github.  Make some changes and submit a pull request.  Be sure to read up on our guidelines beforehand.
      buttons: 
        - name: View Code
          link: "https://github.com/barroncraft/"
    - name: Writer
      image: writer.png
      description: We keep documentation and tutorials on Barron Wiki.  Request an account, find an article that needs work and start editing.
      buttons: 
        - name: Visit Wiki
          link: http://wiki.barroncraft.com/
    - name: Map Maker
      image: map_maker.png
      description: If you've already created a map, send it in.  Otherwise, submit an application to be whitelisted on our build server.
      buttons: 
        - name: Send Map
          link: "mailto:contact@barroncraft.com?Subject=Please Host My Map&body=Link to map:%0ADescription:" 
        - name: Apply
          link: "javascript:alert('We are not currently accepting applications.  Check back later');" 
    - name: Game Tester
      image: game_tester.png
      description: Play the game on one of the public tests servers.  If you find any issues, open a bug report on Github.
      buttons: 
        - name: Join Testing
          link: "/servers/test/"
        - name: Report Bug
          link: "https://github.com/barroncraft/barron-minecraft-dota/issues/"
    - name: Server Owner
      image: server_owner.png
      description: Check out our configuration and give feedback on what you think could be improved.  Also try running it on your own server.
      buttons: 
        - name: View Config
          link: "https://github.com/barroncraft/barron-minecraft-dota/"
        - name: Download
          link: "http://wiki.barroncraft.com/wiki/Hosting_Minecraft_Dota"
    - name: Donor
      image: donor.png
      description: Hosting servers take a lot of time and money.  If you want help offset some of our costs, it would be greatly appreciated.
      buttons: 
        - name: PayPal
          link: javascript:submitPayPal()
        - name: Flattr 
          link: http://flattr.com/thing/684486/Barron-Minecraft
---

<h2>I am a...</h2>
<div class="row">
    {% for type in page.types %}
    <div class="span3">
        <div class="thumbnail">
            <img alt="{{ type.name }}" src="/images/roles/{{ type.image }}">
            <div class="caption">
                <h3>{{ type.name }}</h3>
                <p>{{ type.description }}</p>
                <p>
                    {% for button in type.buttons %}
                    <a href="{{ button.link }}" class="btn btn-primary">{{ button.name }}</a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
    {% cycle '', '', '', '</div><div class="row">' %}
    {% endfor %}
</div>
<hr/>
<p class="pagination-centered">Be sure to check back periodically as we will be adding more ways to contribute.</p>

<!-- Paypal donation form -->
<div style="display: none;">
    <form id="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="U563AUKEMRA96">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <script type="text/javascript">
        function submitPayPal() {
            document.getElementById("paypal").submit();
        }
    </script>
</div>
