---
layout: default
title: Credits
description: All the people and organizations that make Barron Minecraft possible
navigation: 6
permalink: /credits/
avatars: https://minotar.net/avatar
groups:
    - name: Staff
      info: Administrators, moderators and builders who play a direct role in maintaining Barron Minecraft.
      credits:
        - name: NullReff
          link: mailto:nullreff@barroncraft.com
          role: "Founder, Administrator"
        - name: Pyrofiredelta
          link: mailto:pyrofiredelta@barroncraft.com
          role: "Builder, Moderator"
        - name: bluefishnair
          link: mailto:bluefishnair@barroncraft.com
          role: Moderator
        - name: abounds_abs
          link: "#"
          role: Moderator
        - name: AirportBomb
          link: "#"
          role: Builder
        - name: B0ilerPlate
          link: "#"
          role: "Builder, Moderator"
        - name: Casper_Creator
          link: "#"
          role: "Builder"
        - name: Havuhk
          link: "#"
          role: "Moderator"
        - name: CkLW_
          link: "#"
          role: "Moderator"
    - name: Contributors
      info: Those who have helped to build or improve the servers in some way.
      credits:
        - name: Hypixel
          logo:
              image: /images/logos/hypixel.png
              span: 2
          link: http://hypixel.net/
        - name: Scyntrus
        - name: Damariei
          logo:
              image: https://secure.gravatar.com/avatar/4ac67f1d6673c098948bbdbbf5b03f6b?s=120
              span: 1
          link: https://github.com/damariei
        - name: Newbreed Gaming
          logo:
              image: /images/logos/newbreed.png
              span: 2
          link: http://newbreedgaming.com/
        - name: Rhysarkhan
        - name: nf1999
---

{% for group in page.groups %}
<div class="well">
    <h2>{{ group.name }}</h2>
    <p class="lead">{{ group.info }}</p>
    {% if group.credits %}
    <div class="group">
        {% for credit in group.credits %}
        <div class="credit">
            {% if credit.logo %}
            <div class="logo{{ credit.logo.span }} avatar">
            {% else %}
            <div class="avatar">
            {% endif %}
                {% if credit.link %}
                {% if credit.role %}
                <a href="{{ credit.link }}" data-toggle="tooltip" title="{{ credit.role }}">
                {% else %}
                <a href="{{ credit.link }}">
                {% endif %}
                {% endif %}
                    {% if credit.logo %}
                    <img src="{{ credit.logo.image }}" alt="{{ credit.name }}" />
                    {% else %}
                    <img src="{{ page.avatars }}/{{ credit.name }}/120" alt="{{ credit.name }}" />
                    {% endif %}
                {% if credit.link %}
                </a>
                {% endif %}
            </div>
            <div class="info">
                {{ credit.name }}
            </div>
        </div>
        {% endfor %}
        <br class="clear"/>
    </div>
    {% else %}
    <p class="unfilled center">
        No one yet...
    </p>
    {% endif %}
</div>
{% endfor %}
<hr/>
<p class="center">Did we miss you?  Send an email to <a href="mailto:{{ site.email }}">{{ site.email }}</a> to be added.</p>

<script type="text/javascript">
    $('.avatar').tooltip({
        trigger: 'hover',
        selector: 'a[data-toggle=tooltip]',
        placement: 'top'
    });
</script>
