---
layout: default
title: Servers
description: Servers hosted by Barron Minecraft
navigation: 2
permalink: /servers/
servers:
    - name: dota 
      url: dota.barroncraft.com
      style: "02"
    - name: dota2
      url: dota2.barroncraft.com
      style: "01"
    - name: dota3
      url: dota3.barroncraft.com
      style: "07"
---

<div class="row">
    {% for server in page.servers %}
        <div id="{{ server.name }}" class="span4 center">
            <h2>{{ server.url }}</h2>
            <p class="lead">
                <span class="playerCount"></span> / <span class="maxPlayers"></span>
            </p>
            <div class="row-fluid">
                <div class="span6">
                    <h3 style="color: red">Red</h4>
                    <ul class="unstyled red-players"></ul>
                </div>
                <div class="span6">
                    <h3 style="color: blue">Blue</h4>
                    <ul class="unstyled blue-players"></ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<script type="text/javascript">
    {% for server in page.servers %}
    $.getJSON("http://{{ server.url }}:25566/", function(data) {
        $("#{{ server.name }} span.playerCount").text(data.playerCount);
        $("#{{ server.name }} span.maxPlayers").text(data.maxPlayers);
        var redPlayers = ""
        for (var i in data.clans.red) {
            name = data.clans.red[i];
            redPlayers += '<li><img src="https://minotar.net/avatar/' + name + '/14"/> ' + name + '</li>';
        }
        $("#{{ server.name }} .red-players").html(redPlayers);
        var bluePlayers = ""
        for (var i in data.clans.blue) {
            name = data.clans.blue[i];
            bluePlayers += '<li><img src="https://minotar.net/avatar/' + name + '/14"/> ' + name + '</li>';
        }
        $("#{{ server.name }} .blue-players").html(bluePlayers);
    });
    {% endfor %}
</script>
