---
layout: default
title: Staff
description: All the people and organizations that make Barron Minecraft possible
permalink: /staff/
avatars: https://minotar.net/avatar
info: Administrators, moderators and builders who play a direct role in maintaining Barron Minecraft.
credits:
  - name: NullReff
    link: mailto:nullreff@barroncraft.com
    role: "Founder, Administrator"
  - name: Pyrofiredelta
    link: mailto:pyrofiredelta@barroncraft.com
    role: "Builder, Moderator"
  - name: bluefishnair
    link: mailto:bluefishnair@barroncraft.com
    role: Moderator
  - name: abounds_abs
    link: "#"
    role: Moderator
  - name: AirportBomb
    link: "#"
    role: Builder
  - name: B0ilerPlate
    link: "#"
    role: "Builder, Moderator"
  - name: Casper_Creator
    link: "#"
    role: "Builder"
  - name: Havuhk
    link: "#"
    role: "Moderator"
  - name: CkLW_
    link: "#"
    role: "Moderator"
---

<ul class="nav nav-pills">
    <li><a href="/about/">Goals</a></li>
    <li><a href="/about/credits/">Credits</a></li>
    <li class="active"><a href="/about/staff/">Staff</a></li>
</ul>

<p class="lead">{{ page.info }}</p>
<div class="group">
    {% for credit in page.credits %}
    <div class="credit">
        {% if credit.logo %}
        <div class="logo{{ credit.logo.span }} avatar">
        {% else %}
        <div class="avatar">
        {% endif %}
            {% if credit.link %}
            {% if credit.role %}
            <a href="{{ credit.link }}" data-toggle="tooltip" title="{{ credit.role }}">
            {% else %}
            <a href="{{ credit.link }}">
            {% endif %}
            {% endif %}
                {% if credit.logo %}
                <img src="{{ credit.logo.image }}" alt="{{ credit.name }}" />
                {% else %}
                <img src="{{ page.avatars }}/{{ credit.name }}/120" alt="{{ credit.name }}" />
                {% endif %}
            {% if credit.link %}
            </a>
            {% endif %}
        </div>
        <div class="info">
            {{ credit.name }}
        </div>
    </div>
    {% endfor %}
    <br class="clear"/>
</div>
<hr/>
<p class="center">Did we miss you?  Send an email to <a href="mailto:{{ site.email }}">{{ site.email }}</a> to be added.</p>

<script type="text/javascript">
    $('.avatar').tooltip({
        trigger: 'hover',
        selector: 'a[data-toggle=tooltip]',
        placement: 'top'
    });
</script>
