html, body
{
	margin: 0;
    padding: 0;
	font-family: Arial, Liberation Sans, DejaVu Sans, sans-serif;
    background-color: #AFCCFF;
}

.page-header
{
    padding: 30px 10px 0 10px;
    margin: 0;
    border-style: none;
	background-image: url("../images/banner.png");
    background-repeat: no-repeat;
}

.page-header h1 {
    font-size: 30px;
}

.nav-tabs
{
    margin: 75px auto 0 auto;
    width: 500px;
    border-bottom: none;
}

.nav-tabs li 
{
    margin: 0px;
}

.nav-tabs li a
{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nav-tabs li a:hover
{
    color: #000000;
    text-shadow: none;
}

.nav-tabs li.active a
{
    color: #000000;
    text-shadow: none;
}


.page-body
{
    padding-top: 20px;
}

.jumbotron 
{
    text-align: center;
    margin: 30px 0;
    padding: 20px;
}

.jumbotron h1 
{
    font-size: 50px;
    line-height: 1;
}

.jumbotron .btn 
{
    padding: 14px 24px;
    font-size: 21px;;
}

.blurbs div div
{
    text-align: center;
    width: 200px;
}

dl.spaced dt
{
    margin-top: 20px;
}

dl.spaced dd
{
    font-size: 16px;

}

.thumbnail
{
    margin-top: 20px;
}

footer
{
    margin: 5px 0;
}

ul.inline 
{
    margin: 0;
    list-style: none;
}

ul.inline li
{
    display: inline-block;
    margin-right: 15px;
}

.clear
{
    clear: both;
}

.group .credit
{
    float: left;
    margin: 17px;
    border: solid 1px #bababa;
}

.group .credit .avatar
{
    height: 120px;
}

.group .credit .avatar a
{
    display: block;
}

.group .credit .info
{
    text-align: center;
    background-color: black;
    color: white;
}

.unfilled
{
    padding: 30px 0 70px 0;
}

.center
{
    text-align: center;
}

.credit .logo1
{
    width: 120px;
}

.credit .logo2
{
    width: 276px;
}

.credit .logo3
{
    width: 428px;
}

.players
{
    font-size: 14px;
}

.server
{
    padding: 0 0 0 20px;
}

.server .alert
{
    margin-right: 19px;
}

.server h2
{
    text-align: center;
}

.player-wait, .server-message
{
    margin: 60px auto;
    text-align: center;
    padding: 8px 14px;
}

.player-wait
{
    width: 110px;
}

.server-message
{
    width: 400px;
}

.team
{
    margin: 0 20px;
}

.about-menu
{
    width: 190px;
    margin: 0 auto;
}
