<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">  
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        {% if page.description %}
        <meta name="description" content="{{ page.description }}" />
        {% else %}
        <meta name="description" content="{{ site.description }}" />
        {% endif %}
        {% if page.author %}
        <meta name="author" content="{{ page.author }}">
        {% else %}
        <meta name="author" content="{{ site.author }}">
        {% endif %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="stylesheet" media="screen" href="/stylesheets/styles.css" type="text/css" />
        <link rel="stylesheet" media="screen" href="/stylesheets/global.css" type="text/css" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
     </head>
     <body>
         <div class="container">
             <header class="page-header">
                <h1>Barron Minecraft</h1>
                 <ul class="nav nav-tabs">
                     {% for node in site.navigation %}
                     {% if page.url == node.url and node.url == "/" %}
                     {% assign selected = true %}
                     {% endif %}
                     {% if page.url contains node.url and node.url != "/" %}
                     {% assign selected = true %}
                     {% endif %}
                     {% if selected %}
                     <li class="active">
                     {% else %}
                     <li>
                     {% endif %}
                         <a href="{{node.url}}">{{node.title}}</a>
                     </li>
                     {% assign selected = false %}
                     {% endfor %}
                 </ul>
             </header>

             <div class="content">
                 {{ content }}
             </div>
             <footer>
                <ul class="inline pull-left">
                    <li><a href="http://wiki.barroncraft.com/wiki/Terms_of_Service">Terms of Service</a></li>
                    <li><a href="mailto:contact@barroncraft.com">Contact</a></li>
                    <li><a href="mailto:report@barroncraft.com">Report Player</a></li>
                </ul>
                <p class="pull-right">
                    &copy; 2011-{{ site.time | date: "%Y" }} Barron Minecraft
                </p>
                <br class="clear"/>
             </footer>
         </div> 

         {% if site.github %}
         <a href="http://github.com/{{ site.github }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
         {% endif %}
     </body>
 </html>
