---
layout: default
---
<div class="row">
    <article class="span9">
        <header>
            <h2>
                <a href="{{ page.url }}" rel="bookmark" title="Permanent link to ">{{ page.title }}</a>
            </h2>
            <h5><time>{{ page.date | date: '%B' }} {{ page.date | date: '%e' }}, {{ page.date | date: '%Y' }}</time></h5>
        </header>

        {{ content }} 
    </article>

    <div class="span3">
        <nav id="related" class="well visible-desktop">
            <h3>Related Posts</h3>
            <ul class="posts">
                {% for post in site.related_posts limit:5 %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>

<div class="row">
    {% if site.disqus %}
    <div id="comments" class="span12">
        <h2>Comments</h2>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_identifier = "{{ page.url }}";
            (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = 'http://{{ site.disqus }}.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
             })();
    </script>
    <noscript>Please enable JavaScript to view <a href="http://disqus.com/?ref_noscript={{ site.disqus.id }}">comments</a></noscript>
    </div>
    {% endif %}
</div>
